<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DemoTestSuite">
    <test name="DemoTestScenario">
        <classes>
            <class name="/QuantumFWDemo/src/test/resources/feautures">
                <methods>
                    <include name="@User1SubmitDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>